@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Sawarabi+Gothic&display=swap');*,

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-family: 'Dosis','Sawarabi Gothic', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #f7fafd;
    background: linear-gradient(
        135deg,
        #79cdeb 0%,
        #7fb0d5 100%
    );
}

a{
    text-decoration: none;
    color: #e4effb;
}

ul{
    list-style: none;
}

p{
    font-size: 1.3em;
}

img{
    width:100%;
    max-width: 100%;
    height: auto;
}

/* ヘッダーのスタイリング */

header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container{
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.nav-brand {
    width: 7rem;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    /* border-bottom: 2px solid rgba(255,255,255,.2); */
}

.line1{
    width: 20px;
    height: 3px;
    margin: 5px 0;
    background: linear-gradient(
        135deg,
        #2960a8 0%,
        #e4effb 100%       
    );
}

.line2{
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: linear-gradient(
        135deg,
        #2960a8 0%,
        #e4effb 100%       
    );
}

.line3{
    width: 20px;
    height: 3px;
    margin: 5px 0;
    margin-left: 10px;
    background: linear-gradient(
        135deg,
        #2960a8 0%,
        #e4effb 100%       
    );
}

.burger-icon{
    cursor: pointer;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.1rem;
    border-radius: 0% 0% 0% 40%;
}

.profile{
    height: 9rem;
    width: auto;
    border-radius: 3%;
    display: block;
    margin: 1.5rem 0;
}

.caption{
    display: block;
}

.nav-list{
    width: 22rem;
    height: 100vh;
    background-color: #2d597a;
    position: fixed;
    top: 0;
    right: -24em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: start;
    z-index: 990;
    transition: all 600ms ease-in-out;
}

.nav-list.active{
    right: 0;
}

.nav-item{
    margin: 1.5rem 0;
}

.nav-link{
    opacity: 0;
    font-size: 1.3rem;
    color: #e4effb;
    letter-spacing: 2px;
}

.nav-link i{
    font-size: 1.5rem;
    margin: 0.8rem;
}

.nav-link:hover{
    color: silver;
}

.toggle{
    background: none;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px) scaleX(1.8); 
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px) scaleX(1.8); 
    margin-left: 0;
}

@keyframes navLinkAnimate{
    from{
        opacity: 0;
        transform: translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

/* ランディングページ */

.landing-page{
    width: 100%;
    height: 100vh;
    background-size: contain;
    position: relative;
}

.main{
    width: 100%;
    max-width: 80rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.main h3{
    letter-spacing: 1rem;
    font-size: 2rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    width: 25ch;
    margin: auto;
}



.main h4{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-weight: 500;
}

.main p{
    font-weight: 300;
    letter-spacing: 1.2px;
    text-transform: none;
    font-size: 1.2rem;
}

.intro{
    margin: 1rem auto;
}

.btn{
    margin: 0;
    background-color: #37beed;
    border-radius: 2rem;
    color: #f9fafa;
    padding: 0.6rem 0.9rem;
    display: inline-block;
    margin-top: 1rem;
    transition: background-color 300ms;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.btn:hover{

    background-color: #4dffff;
}

.scroll-down i{
    transition: color 600ms;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.scroll-down i:hover{
    color: #4dffff;
}

/* AboutMeのところ */

.aboutme{
    width: 100%;
    min-height: 80vh;
    max-width: 80rem;
    margin: auto;
}

.aboutme .container{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
}

.about-txt{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.about-txt h2{
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2.5rem;
    letter-spacing: 1rem;
    font-size: 3rem;
    font-weight: 500;
}

.about-txt p{
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 1.2rem;
}

hr{
    margin: 3rem 0;
    background: #f7fafd;
    border: 0;
    height: 1px;
    width: auto;
}

/* skills part */

.learning{
    padding: 2rem 0;
    max-width: 80rem;
    margin: auto;
}

.title-head{
    text-align: center;
    margin-bottom: 4rem;
}

.title-head h2{
    text-transform: uppercase;
    margin: 1rem 0 3rem 0;
    letter-spacing: 1rem;
    font-size: 3rem;
    font-weight: 500;
}

.title-head p{
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 1.2rem;
    padding: 0;
    margin-bottom: 1rem;
}

.learning-skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.skill{
    height: 15rem;
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
    text-align: center;
}

.skill i{
    font-size: 8rem;
    margin: 0 auto;
}

.skill h2{
    font-size: 2rem;
    font-weight: 550;
    margin: 0.5rem 0;
}

.skill p{
    font-size: 1rem;
    font-weight: 200;
}

/* プロジェクト */

.projects{
    padding: 2rem 0;
    min-height: 40vh;
    max-width: 80rem;
    margin: auto;
}

.projects p{
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    width: 25.5ch;
    margin: auto;
    border-right: 3px solid #f7f7f7;
    animation: typing 4s steps(20), blink 1s ease-in 4s infinite;
}

@keyframes typing{
    75%{
        width: 0ch;
    }
    100%{
        width: 25ch;
    }
}

@keyframes blink{
    from{
        border-right: 3px solid #f7fafd;
    }
    to{
        border-right: 3px solid #79cdeb;
    }
}

/* Contact Me */

.contactme{
    width: 100%;
    min-height: 30vh;
    max-width: 80rem;
    margin: auto;
}

.contactme h2{
    text-align: center;
    text-transform: uppercase;
    margin: 1rem 0 3rem 0;
    letter-spacing: 1rem;
    font-size: 3rem;
    font-weight: 500;
}

.contactme p{
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    padding: 0;
    margin: 0;
}

.contactme .container{
    width: 60%;
    min-height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactme .container i{
    font-size: 1.8rem;
}

footer{
    width: 100%;
    max-width: 70%;
    margin: auto;
    padding: 2rem;
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

footer a{
    margin: 0 0.4rem;
}

.footer-cb{
    margin: 2rem 0;
    font-size: 0.6rem;
}

.footer-social-links{
    margin: 0 1rem;
    font-size: 1rem;
}
